.mat-form-field {
    width: 10px;
}
.custom-form-field {
    width: 100px !important;
    background-color: red;
    font-size: 40px;
  
    .mat-icon.prefix {
      font-size: 60px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin-right: 15px;
    }
  
    button.suffix {
      .mat-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
      margin-left: 10px;
    }
  }
  .mat-form-field{
    width: 100% !important;
  }
  
  .custom-form-field {
    width: 600px;
    font-size: 40px;
  
    .mat-form-field-prefix {
      .mat-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
      margin-right: 15px;
      
    }
  
    .mat-form-field-suffix {
      button {
        .mat-icon {
          font-size: 60px;
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
        margin-left: 10px;
      }
    }
  }