<section class="header">
    <app-navbar></app-navbar>
    <app-banner  [isDesktop]="isDesktop" [isTablet]="isTablet" [isMobile]="isMobile" ></app-banner>
</section>

<section class="container">
    <div class="main-container">

        <h1 class="text-center">Tailor-made feauter</h1>
        <p class="text-center subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae, laborum ipsum saepe ducimus perferendis, </p>
        
        <div class="row list-services">
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_robust.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">Robust workflow </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_flexibility.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">Flexibility</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_user.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">User Friendly</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_multiple.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">Multiple layouts</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_well.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">Better components</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="item-service">
                        <img src="assets/images/icon_multiple.svg" width="35" alt="">
                        <h3 class="text-bold" style="font-size: 20px;font-weight: bold; margin-bottom: 0px;margin: 10px 0;">Well organised</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus mollitia aut repudiandae</p>
                    </div>
                </div>
                
            </div>
    </div>
    <div class="info-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="text-info" >
                        <h3>Our 18 years of <br> achievements </h3>
                        <p>With our super powers we have reached this</p>
                    </div>
                    
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row list-company-info">
                        <div class="col-sm-6">
                            <div class="item-company" >
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 item-company-image">
                                        <img src="assets/images/icon_robust.svg" width="38" alt="">
                                    </div>
                                    <div class="col-sm col-md item-company-text">
                                        <div>
                                            <h3>10,000+</h3>
                                            <p>Download per day</p>
                                        </div>
                                    </div>
                                </div>
                               
                                
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="item-company">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 item-company-image">
                                        <img src="assets/images/icon_multiple.svg" width="38" alt="">
                                    </div>
                                    <div class="col-sm col-md item-company-text">
                                        <div>
                                            <h3>500+</h3>
                                            <p>Clients</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="item-company">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 item-company-image">
                                        <img src="assets/images/icon_better.svg" width="38" alt="">
                                    </div>
                                    <div class="col-sm col-md item-company-text">
                                        <div>
                                            <h3>2 Million</h3>
                                            <p>Users</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="item-company">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 item-company-image">
                                        <img src="assets/images/icon_countries.svg" width="38" alt="">
                                    </div>
                                    <div class="col-sm col-md item-company-text">
                                        <div>
                                            <h3>140</h3>
                                            <p>Countries</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>  
    </div>
</section>


<app-footer></app-footer>