<section class="footer-container">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 col-md-10 footer-first">
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6 ff-first">
                        <img src="assets/images/icono_logo.svg" alt="">
                        <p>Download Now License</p>
                        <ul>
                            <li>About</li>
                            <li>Feauters</li>
                            <li>Pricing</li>
                            <li>News</li>
                            <li>Help</li>
                            <li>Contact</li>
                        </ul>
                        <span>2021 Landify UI Kit.  All rights reserved</span>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6 ff-second">
                        <img src="assets/images/icono_logo.svg" alt="">
                        <p>Contáctanos</p>
                        <p>whatsapp : <span>978 566 567</span> <span>967 567 565</span></p>
                        <span>2021 Landify UI Kit.  All rights reserved</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 footer-second">
                <p>Get the App</p>
                <div>
                    <img src="assets/images/get_apple_store.png" alt="">
                </div>
                <div>
                    <img src="assets/images/get_google_play.png" alt="">
                </div>
                
                
            </div>
    
        </div>
    </div>
    
</section>